/* styles.css */

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .container {
	max-width: 800px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  h1 {
	text-align: center;
	color: #333;
  }
  
  form {
	text-align: center;
	margin-top: 20px;
	width: 100%;
  }
  
  input[type="text"] {
	width: 60%;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
  }
  
  button[type="submit"] {
	padding: 10px 20px;
	background-color: #335383;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
  }
  
  button[type="submit"]:hover {
	background-color: #254061;
  }
  
  img {
	width: 60%; 
	max-width: 100%;
	height: auto;
	margin-top: 20px;
	margin-top: 20px;
  }
  
  a {
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
	color: #335383;
	font-weight: bold;
  }
  
  a:hover {
	color: #254061;
  }
  